@charset "utf-8";
@import "normalize";
@import "reset";

a { color: inherit; }

.clear { clear: both; }

html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 27px;
  color: #B4B4B4;
  padding: 60px;
}

header {
  overflow: hidden;

  h1 {
    float: left;
  }

  a {
    float: right;
  }

  img {
    width: 32px;
    height: 32px;
  }
}

.container {
  max-width: 690px;
  margin: 0 auto;
}

h1 {
  font-size: 2.8em;
  line-height: 32px;
  color: black;
}

h2, h3 {
  font-size: 1.8em;
  line-height: 32px;
}

h3 {
  margin: 0 0 30px;
}

.nav {
  font-size: 1.8em;
  line-height: 32px;
  margin: 0;
  text-align: center;
  background: white;
  padding: 30px 0;

  li {
    display: inline-block;
    margin: 0 15px;

    a {
      transition: .1s color ease-in-out;
    }

    .active {
      text-decoration: none;
      color: black;
      position: relative;
      font-weight: 500;

      &:after {
        content: '';
        position: absolute;
        border: 6px solid transparent;
        border-top-color: black;
        top: 30px;
        left: 50%;
        margin-left: -6px;
      }
    }
  }
}

.demo-reel {
  background: url('/images/reel_bg@2x.png');
  width: 100%;
  height: 340px;
  background-size: 100% 100%;
  margin: 30px 0 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  button {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    padding: 0;
    width: 200px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -30px;
    background: #CE2C2C url('/images/play.svg') no-repeat 25px center;
    text-indent: 25px;
    font-size: 1.8em;
    color: white;
    border: 0;
    outline: 0;
    transition: all 0.1s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: opacity 0.1s ease-in-out;
    }

    &:hover {
      margin-top: -32px;
      cursor: pointer;

      &::before {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        opacity: 1;
      }
    }

    &:active {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
      background: #992020 url('/images/play.svg') no-repeat 25px center;
      margin-top: -30px;

      &::before {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.grid {
  position: relative;
  left: -30px;
  top: -30px;
}

.grid li {
  display: block;
  background: #D8D8D8;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  text-align: center;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
  }

  img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
  }
}

footer {
  clear: both;
  text-align: center;
  color: #999;
}

@media (max-width: 640px) {
  body {
    font-size: 0.8em;
    padding: 15px;
  }

  h1 {
    line-height: 24px;
  }

  header img {
    width: 24px;
    height: 24px;
  }

  .nav {
    padding: 15px 0;

    li {
      margin: 0 6px;

      .active:after {
        border-width: 4px;
        margin-left: -4px;
        top: 22px;
      }
    }
  }

  .demo-reel {
    margin-top: 10px;
    height: 200px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .portfolio-pieces li {
    width: 100%;
    min-height: 165px;

    img {
      min-height: 100%;
    }
  }

  .grid {
    left: 0;
    top: 0;

    li {
      position: static;
      margin-top: 15px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  footer {
    margin-top: 15px;
  }
}
