/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, _reset.scss */
body {
  line-height: 1; }

/* line 34, _reset.scss */
ol, ul {
  list-style: none; }

/* line 37, _reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 5, site.css.scss */
a {
  color: inherit; }

/* line 7, site.css.scss */
.clear {
  clear: both; }

/* line 9, site.css.scss */
html {
  font-size: 62.5%; }

/* line 13, site.css.scss */
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 27px;
  color: #B4B4B4;
  padding: 60px;
  opacity: 0;
  transition: .3s opacity ease-in-out;
  animation-delay: 3s; }
  /* line 23, site.css.scss */
  body.loaded {
    opacity: 1; }

/* line 28, site.css.scss */
header {
  overflow: hidden; }
  /* line 31, site.css.scss */
  header h1 {
    float: left; }
  /* line 35, site.css.scss */
  header a {
    float: right; }
  /* line 39, site.css.scss */
  header img {
    width: 32px;
    height: 32px; }

/* line 45, site.css.scss */
.container {
  max-width: 690px;
  margin: 0 auto; }

/* line 50, site.css.scss */
h1 {
  font-size: 2.8em;
  line-height: 32px;
  color: black; }

/* line 56, site.css.scss */
h2, h3 {
  font-size: 1.8em;
  line-height: 32px; }

/* line 61, site.css.scss */
h3 {
  margin: 0 0 30px; }

/* line 65, site.css.scss */
.nav {
  font-size: 1.8em;
  line-height: 32px;
  margin: 0;
  text-align: center;
  background: white;
  padding: 30px 0; }
  /* line 73, site.css.scss */
  .nav li {
    display: inline-block;
    margin: 0 15px; }
    /* line 77, site.css.scss */
    .nav li a {
      transition: .1s color ease-in-out; }
    /* line 81, site.css.scss */
    .nav li .active {
      text-decoration: none;
      color: black;
      position: relative;
      font-weight: 500; }
      /* line 87, site.css.scss */
      .nav li .active:after {
        content: '';
        position: absolute;
        border: 6px solid transparent;
        border-top-color: black;
        top: 30px;
        left: 50%;
        margin-left: -6px; }

/* line 100, site.css.scss */
.demo-reel {
  background: url("/images/reel_bg@2x.png");
  width: 100%;
  height: 340px;
  background-size: 100% 100%;
  margin: 30px 0 0;
  position: relative;
  border-radius: 4px;
  overflow: hidden; }
  /* line 110, site.css.scss */
  .demo-reel button {
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    padding: 0;
    width: 200px;
    height: 60px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -30px;
    background: #CE2C2C url("/images/play.svg") no-repeat 25px center;
    text-indent: 25px;
    font-size: 1.8em;
    color: white;
    border: 0;
    outline: 0;
    transition: all 0.1s ease-in-out; }
    /* line 130, site.css.scss */
    .demo-reel button::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: opacity 0.1s ease-in-out; }
    /* line 142, site.css.scss */
    .demo-reel button:hover {
      margin-top: -32px;
      cursor: pointer; }
      /* line 146, site.css.scss */
      .demo-reel button:hover::before {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        opacity: 1; }
    /* line 152, site.css.scss */
    .demo-reel button:active {
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
      background: #992020 url("/images/play.svg") no-repeat 25px center;
      margin-top: -30px; }
      /* line 157, site.css.scss */
      .demo-reel button:active::before {
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); }

/* line 164, site.css.scss */
.grid {
  position: relative;
  left: -30px;
  top: -30px; }

/* line 170, site.css.scss */
.grid li {
  display: block;
  background: #D8D8D8;
  border-radius: 4px;
  position: absolute;
  overflow: hidden; }
  /* line 177, site.css.scss */
  .grid li:hover {
    cursor: pointer; }
  /* line 181, site.css.scss */
  .grid li img, .grid li video {
    max-width: 100%;
    display: block; }
  /* line 186, site.css.scss */
  .grid li label {
    display: none; }

/* line 191, site.css.scss */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out; }
  /* line 204, site.css.scss */
  .overlay.active {
    opacity: 1;
    pointer-events: all;
    cursor: pointer; }
  /* line 210, site.css.scss */
  .overlay img, .overlay video {
    max-height: 90%;
    max-width: 90%;
    border-radius: 10px;
    position: absolute;
    margin-top: -15px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
    pointer-events: none; }
  /* line 223, site.css.scss */
  .overlay label {
    text-align: center;
    color: #ddd;
    font-size: 1.4em;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }

/* line 235, site.css.scss */
footer {
  clear: both;
  text-align: center;
  color: #999; }

@media (max-width: 640px) {
  /* line 242, site.css.scss */
  body {
    font-size: 0.8em;
    padding: 15px; }

  /* line 247, site.css.scss */
  h1 {
    line-height: 24px; }

  /* line 251, site.css.scss */
  header img {
    width: 24px;
    height: 24px; }

  /* line 256, site.css.scss */
  .nav {
    padding: 15px 0; }
    /* line 259, site.css.scss */
    .nav li {
      margin: 0 6px; }
      /* line 262, site.css.scss */
      .nav li .active:after {
        border-width: 4px;
        margin-left: -4px;
        top: 22px; }

  /* line 270, site.css.scss */
  .demo-reel {
    margin-top: 10px;
    height: 200px; }

  /* line 275, site.css.scss */
  h3 {
    margin-top: 30px;
    margin-bottom: 15px; }

  /* line 280, site.css.scss */
  .portfolio-pieces li {
    width: 100%;
    min-height: 165px; }
    /* line 284, site.css.scss */
    .portfolio-pieces li img, .portfolio-pieces li video {
      min-height: 100%; }

  /* line 289, site.css.scss */
  .grid {
    left: 0;
    top: 0; }
    /* line 293, site.css.scss */
    .grid li {
      position: static;
      margin-top: 15px; }
      /* line 297, site.css.scss */
      .grid li:first-of-type {
        margin-top: 0; }

  /* line 303, site.css.scss */
  footer {
    margin-top: 15px; } }
/* line 310, site.css.scss */
[data-sizex="4"] {
  width: 690px; }
