---
title: Kaede Takeshige
---

<header id="top">
  <div class="container">
    <h1>Kaede Takeshige</h1>
    <a href="mailto:kaedetks@gmail.com" class="email"><img src="/images/email.svg" /></a>
  </div>
</header>

<section class="overlay">
</section>

<section>
  <div class="container">
    <div class="hero demo-reel">
      <button class="js-trigger-demo-reel-play"></button>
      <video src="/videos/demoreel.mp4" class="demo-reel-video" />
    </div>
    <ul class="nav">
      <li class="top"><a href="#top"><img src="/images/top.svg" /></a></li>
      <li><a href="#modeling" class="active">Modeling</a></li>
      <li><a href="#rigging">Rigging</a></li>
      <li><a href="#animation">Animation</a></li>
      <li><a href="#figure-drawing">Figure drawing</a></li>
      <li class="email"><a href="mailto:kaedetks@gmail.com"><img src="/images/email.svg" /></a></li>
    </ul>
    <ul class="portfolio-pieces grid" id="modeling">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/robot.jpg" />
        <label>Modeled in Maya, based on concept by Rustam Hasanov</label>
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/boots.jpg" />
        <label>Responsible for all aspects, created in Maya</label>
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/Zed.jpg" />
        <label>Modeled in Maya, based on concept by Robert Valley for <em>Tron: Uprising</em></label>
      </li>
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/shaman.png" />
        <video src="/videos/shaman.mp4"></video>
        <label>zBrush sculpt, based on concept by Dattaraj Kamat</label>
      </li>
      <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/seesaw.png" />
        <video src="/videos/seesaw.mp4"></video>
        <label>Seesaw building Python script using inputs to specify height, length, number of seats, and number of seesaws</label>
      </li>
    </ul>
    <h3>Rigging:</h3>
    <ul class="portfolio-pieces grid" id="rigging">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/delilah.png" />
        <video src="/videos/delilah.mp4"></video>
        <label>Rigged in Maya with IK and FK, blend shape and joint based facial controls, based on concept by Brooklyn Walker</label>
      </li>
      <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/annie.png" />
        <video src="/videos/annie.mp4"></video>
        <label>Facial rig created to work with HIK, compatible with motion capture, created for BYU Independent Study</label>
      </li>
    </ul>
    <h3>Animation:</h3>
    <ul class="portfolio-pieces grid" id="animation">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/ramshorn.png" />
        <video src="/videos/ramshorn.mp4"></video>
        <label>Responsible for animation for BYU Animation’s film <em>Ram’s Horn</em></label>
      </li>
      <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/dialogue.png" />
        <video src="/videos/dialogue.mp4"></video>
        <label>Responsible for animation, created in Toonboom, audio from <em>30 Rock</em></label>
      </li>
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/cagefight.png" />
        <video src="/videos/cagefight.mp4"></video>
        <label>Responsible for animation, created in Toonboom</label>
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/thumbnails/kenneth.png" />
        <video src="/videos/kenneth.mp4"></video>
        <label>responsible for modeling and animation audio from <em>30 Rock</em></label>
      </li>
    </ul>
    <h3>Figure drawing:</h3>
    <ul class="portfolio-pieces grid" id="figure-drawing">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_6.jpg" />
        <label>3-hour life drawing, nupastel and white Conté pencil on cardboard</label>
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_9.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_1.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_3.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_2.jpg" />
        <label>2-5 minute poses, nupastel on newsprint</label>
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_5.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_7.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_8.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <h2><a href="/docs/kaede_takeshige_resume.pdf">Download Resumé</a></h2>
    <h2>© 2018 Kaede Takeshige</h2>
  </div>
</footer>
