---
title: Kaede Takeshige
---

<header>
  <div class="container">
    <h1>Kaede Takeshige</h1>
    <a href="mailto:kaedetks@gmail.com" class="email"><img src="/images/email.svg" /></a>
  </div>
</header>

<section class="overlay">
</section>

<section>
  <div class="container">
    <div class="hero demo-reel">
      <button class="js-trigger-demo-reel-play">Play demo reel</button>
    </div>
    <ul class="nav">
      <li><a href="#modeling" class="active">Modeling</a></li>
      <li><a href="#rigging">Rigging</a></li>
      <li><a href="#animation">Animation</a></li>
      <li><a href="#figure-drawing">Figure drawing</a></li>
      <li><a href="#other">Other</a></li>
    </ul>
    <ul class="portfolio-pieces grid" id="modeling">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      </li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      </li>
    </ul>
    <h3>Rigging:</h3>
    <ul class="portfolio-pieces grid" id="rigging">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      </li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      </li>
    </ul>
    <h3>Animation:</h3>
    <ul class="portfolio-pieces grid" id="animation">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      </li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      </li>
    </ul>
    <h3>Figure drawing:</h3>
    <ul class="portfolio-pieces grid" id="figure-drawing">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_6.jpg" />
      </li>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_2.jpg" />
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_1.jpg" />
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_3.jpg" />
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_5.jpg" />
      </li>
    </ul>
    <h3>Other:</h3>
    <ul class="portfolio-pieces grid" id="other">
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <h2>© 2017 Kaede Takeshige</h2>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  // TODO: update!

  ga('create', 'UA-48653601-1', 'auto');
  ga('send', 'pageview');

</script>