---
title: Kaede Takeshige
---

<header>
  <div class="container">
    <h1>Kaede Takeshige</h1>
    <a href="mailto:kaedetks@gmail.com" class="email"><img src="/images/email.svg" /></a>
  </div>
</header>

<section class="overlay">
</section>

<section>
  <div class="container">
    <div class="hero demo-reel">
      <button class="js-trigger-demo-reel-play"></button>
      <video src="/videos/demoreel.mp4" class="demo-reel-video" />
    </div>
    <ul class="nav">
      <li><a href="#modeling" class="active">Modeling</a></li>
<!--       <li><a href="#rigging">Rigging</a></li>
 -->      <li><a href="#animation">Animation</a></li>
      <li><a href="#figure-drawing">Figure drawing</a></li>
    </ul>
    <ul class="portfolio-pieces grid" id="modeling">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/robot.jpg" />
        <label>Robot based on illustration by Robert Bradley</label>
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/boots.jpg" />
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/Zed.jpg" />
      </li>
    </ul>
<!--     <h3>Rigging:</h3>
    <ul class="portfolio-pieces grid" id="rigging">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      </li>
    </ul>
 -->    <h3>Animation:</h3>
    <ul class="portfolio-pieces grid" id="animation">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <video src="/videos/ramshorn.mp4" />
      </li>
      <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <video src="/videos/dialogue.mov" />
      </li>
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
        <video src="/videos/cage_fight.mov" />
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
        <video src="/videos/kenneth.mov" />
      </li>
    </ul>
    <h3>Figure drawing:</h3>
    <ul class="portfolio-pieces grid" id="figure-drawing">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_6.jpg" />
        <label>3-hour life drawing of Alex Moore, nupastel on newsprint</label>
      </li>
      <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_9.jpg" />
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
        <img src="/images/portfolio/figure_1.jpg" />
      </li>
      <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_3.jpg" />
      </li>
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_2.jpg" />
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_5.jpg" />
      </li>
      <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_7.jpg" />
      </li>
      <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_8.jpg" />
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <h2>© 2017 Kaede Takeshige</h2>
  </div>
</footer>
