---
title: Kaede Takeshige
---

<header id="top">
  <div class="container">
    <h1>Kaede Takeshige</h1>

    <a href="mailto:kaedetks@gmail.com" class="email"><img src="/images/email.svg" /></a>
  </div>
</header>

<section class="overlay">
</section>

<section>
  <div class="container">
    <div class="hero demo-reel">
      <button class="js-trigger-demo-reel-play"></button>
      <video src="/videos/demoreel.mp4" class="demo-reel-video" />
    </div>
    <ul class="nav">
      <li class="top"><a href="#top"><img src="/images/top.svg" /></a></li>
      <li><a href="#modeling" class="active section-trigger">Modeling</a></li>
      <li><a href="#rigging" class="section-trigger">Rigging</a></li>
      <li><a href="#other" class="section-trigger">Other work</a></li>
      <li><a href="#about" class="section-trigger">About</a></li>
      <li><a href="/docs/kaede_takeshige_resume.pdf" target="_blank">Resumé</a></li>
      <li class="email"><a href="mailto:kaedetks@gmail.com"><img src="/images/email.svg" /></a></li>
    </ul>
    <ul class="portfolio-pieces grid" id="modeling">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/house.jpg" />
        <video src="/videos/house.mp4"></video>
        <label>Modeled in Maya and ZBrush, based on concept by Tom Robinson</label>
      </li>
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/boots.jpg" />
        <label>Responsible for all aspects, created in Maya</label>
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/robot.jpg" />
        <label>Modeled in Maya, based on concept by Rustam Hasanov</label>
      </li>
      <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/zed_thumb.jpg" />
        <label>Modeled in Maya, based on concept by Robert Valley for <em>Tron: Uprising</em></label>
      </li>
      <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/shaman.png" />
        <video src="/videos/shaman.mp4"></video>
        <label>zBrush sculpt, based on concept by Dattaraj Kamat</label>
      </li>
      <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/seesaw.png" />
        <video src="/videos/seesaw.mp4"></video>
        <label>Seesaw building Python script using inputs to specify height, length, number of seats, and number of seesaws</label>
      </li>
    </ul>
    <h3>Rigging:</h3>
    <ul class="portfolio-pieces grid" id="rigging">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/delilah.png" />
        <video src="/videos/delilah.mp4"></video>
        <label>Rigged in Maya with IK and FK, blend shape and joint based facial controls, based on concept by Brooklyn Walker</label>
      </li>
      <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/annie.png" />
        <video src="/videos/annie.mp4"></video>
        <label>Facial rig created to work with HIK, compatible with motion capture, created for BYU Independent Study</label>
      </li>
      <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/plain_HB.png" />
        <video src="/videos/plain_HB.mp4"></video>
        <label>Facial rig created to work with HIK, compatible with motion capture, created for BYU Independent Study</label>
      </li>
    </ul>
    <h3>Other work:</h3>
    <ul class="portfolio-pieces grid" id="other">
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div class="play-button"></div>
        <img class="thumbnail" src="/images/portfolio/ramshorn.png" />
        <video src="/videos/ramshorn.mp4"></video>
        <label>Responsible for animation for BYU Animation’s film <em>Ram’s Horn</em></label>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_1.jpg" />
        <label>3-hour life drawing, nupastel and white Conté pencil on cardboard</label>
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_2.jpg" />
        <label>3-hour life drawing, nupastel on toned paper</label>
      </li>
      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_3.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <img src="/images/portfolio/figure_4.jpg" />
        <label>3-hour life drawing, nupastel on newsprint</label>
      </li>
      <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
        <img src="/images/portfolio/figure_5.jpg" />
        <label>3-5 minute gesture drawings, nupastel on newsprint</label>
      </li>
    </ul>
  </div>
</section>

<section id="about" class="about">
  <div class="container">
    <img src="/images/kaede.jpg" />
    <p><strong>Hi! My name is Kaede Takeshige.</strong></p>
    <p>I am studying animation at Brigham Young University, graduating April 2019. I am most passionate about modeling and rigging. I have been involved in three senior project films at my time at BYU, doing modeling, rigging, and animation.</p> 
    <p>Currently I am a team lead at BYU Independent Study, where we develop animated video content for online courses. I supervise 3D projects, asset creation, and some 2D After Effects work.</p>
    <p>I was born in Japan, and grew up in Shanghai, China. I have lived in the US since 2013. I am 98.6% fluent in English, 70% in Japanese, and 50% in Chinese.</p>
  </div>
</section>

<footer>
  <div class="container">
    <h2>© 2019 Kaede Takeshige</h2>
  </div>
</footer>
